body {
  font-family: Arial;
  padding: 20px;
  height: 100vh;
  display: flex;
}

#chatbox {
  border: 1px solid #ccc;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 10px;
}
